@import "bootstrap";

body{
  font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
  font-weight: bold;
  font-size: 15pt;
}

.user { text-align: right;}

.live{
  padding: 20px;
}
.log{
  position: absolute;
  right: 0px;
  top: 0px;
}

.flex-container {
  display: flex;
  justify-content: center;
  padding-top: 50pt;
}

.navbar {
    color: #FFFFFF;
    background-color: #2B71B1 !important;
    font-weight: bolder;
}

.navbar .navbar-nav > li > a {
   color: #E0FFFF !important;
}

.navbar .navbar-nav > li > a:hover {
   color: #2B71B1 !important;
   background-color: white !important;
}

.line{
  border-color: grey;
}

.loan{
  padding-top: 10pt;
  padding-left: 10pt;
  padding-right: 10pt;
  padding-bottom: 10pt;
}

.loan:hover {
  color: white !important;
  background-color: #2B71B1 !important;
}

 .user {
   color: white !important;
}

.errors {
  background-color: pink;
  opacity: 0.9;
}

.data {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.data td, .data th {
    border: 1px solid #ddd;
    padding: 8px;
}

.data tr:nth-child(even){background-color: #f2f2f2;}

.data tr:hover {background-color: #ddd;}

.data th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #2B71B1;
    color: white;
}
