@import "bootstrap";


.user { text-align: right;}

.live{
  padding: 20px;
}
.log{
  position: absolute;
  right: 0px;
  top: 0px;
}

.flex-container {
  display: flex;
  justify-content: center;
  padding-top: 50pt;
}
